.warning {
  border: 10px ridge #f00;
  background-color: #ff0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.warning img {
  width: 85%;
}

.warning p {
  font: small-caps bold 1.2rem sans-serif;
  text-align: center;
}

.warning a {
  color : #f00;
  text-decoration: none;
  font-weight: bold;
}
